@charset "utf-8";


html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, menu, nav, output, ruby, section, summary, time, mark, audio, video, input, textarea {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;	
}
#main {
	margin:0 auto;
	min-height:300px;
	background:#eeeeee;
	width: 1200px;
	padding:30px;
}
.line-numbers,.first_config,.second_config{
	margin: 0 auto;
	vertical-align: top;
	padding:5px;
	font-family:Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	font-size: 16px;
}
.first_config,.second_config {
	/*border: 1px solid #B8B8B8; */
}
.line-numbers {
	width:2%;
}
tr:not(:first-child) .line-numbers {
	background: white;
	text-align: right;
}
tr:not(:first-child) .line-numbers, tr:not(:first-child) .first_config{
	border-right: 1px solid #B9B9B9;
}
.first_config,.second_config {
	width:47%;
}
table {
	border-collapse: collapse;
}
input {display: block; margin:0 auto; border:2px solid #9A9A9A; padding:5px; width: 90%;}